/*Product Start*/

#product{
  width:22%;
  height: auto;
  background: white;
  transition: 0.5s;
  padding: 10px;
  margin:30px 17px;
  border-radius: 5px;
  box-shadow: 0px  0px 8px 0px  #aaaaaa;
  background-color: #fff; 
}
picture{
  overflow:hidden;
  margin-bottom: 49px
}
picture img
{
  width: 70%;
  object-fit:contain;
  aspect-ratio: 5/5;
  margin:15px 30px;
}
.details{
	display: flex;
	margin-top: 30px;
}
.details samp{
	margin-left: auto;
}
#cardPara p{
	text-align: justify;
  height: 60px;
  overflow: hidden;
}
.button {
	font-size: 20px;
	margin-bottom: 0px;
}
.button button{
  position: absolute;
  left: 70%;
  bottom:5% ;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*Media Query Start*/

@media screen and (max-width: 1024px){

#product{
  width:23%;/**/
  height: 400px;/**/
  transition: 0.5s;
  padding: 10px;
  margin:30px 8px;/**/
}
.mainimg img{
  margin-top: 22px;
  width: 100%;
}
picture{
  overflow:hidden ;
  margin-bottom: 50px;
  justify-content: center;
}
picture img{
  width: 70%;
  object-fit:contain;
  aspect-ratio: 5/5;
  margin:15px 30px;
}
.details{
  display: flex;
  margin-top: 20px;/**/
}
.details samp{
  margin-left: auto;
}
.button {
  font-size: 20px;
  margin-bottom: 10px;
}
.button button{
  position: absolute;
  left: 70%;
  bottom:4%;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

}

@media screen and (max-width: 480px){
#desktopView{
  display: none;
}
#mobileView{
  display: block;
}
  #product{
  width:45%;/**/
  height: auto;/**/
  background: white;
  transition: 0.5s;
  padding: 10px;
  margin:5px;/**/
}
picture{
  overflow:hidden;
  margin-bottom: 50px;
  justify-content: center;

}
picture img{
  width: 70%;
  object-fit:contain;
  aspect-ratio: 5/5;
  margin:10px;
}
#cardPara p{
  text-align: justify;
  height: 30px;
  overflow: hidden;
  font-size: 10px;
}
.details{
  display: flex;
  margin-top: 20px;/**/
  font-size: 10px;
}
.details samp{
  margin-left: auto;
}
.button {
  font-size: 20px;
  margin-bottom: 0px;
}
.button p{
  font-size: 15px;
}
.button button{
  position: static;
  left: 69%;
  bottom:19.5%;
  font-size: 8px;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

}
