@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Josefin+Slab:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@0,200;1,300&family=Nunito+Sans:ital,wght@1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
	margin: 0;
	padding: 0;
  margin-top: 50px;
	font-family: 'poppins', serif;
	background-color: whitesmoke;
}
#carouselBanner{
	height: 90%;
	width: 100%;
}

/*Nav Bar Start*/
:root{
--bg-color:#f0ad4e;
}
.navbar a{
  color: white;
 text-decoration: none;
}
.navbar a:hover{
  text-decoration: none;
  color: white;
  }
                                          /*Navigation Bar Start*/
.navbar {
margin-bottom: 0;
background-color: var(--bg-color);
z-index: 9999;
border: 0;
font-size: 12px !important;
line-height: 1.42857143 !important;
letter-spacing: 4px;
border-radius: 0;
}
#subNav{
background-color: var(--bg-color);
}
.navbar li a, .navbar .navbar-brand {
color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
color: var(--bg-color) !important;
background-color: #fff !important;
}
.navbar-default .navbar-toggle {
border-color: transparent;
color: #fff !important;
}                    
                                             /*Navigation Bar End - Main Image Start*/

/*card*/
#mobileView{
  display: none;
}
/*Card Css Start*/

#product{
  width:22%;
  height: auto;
  background: white;
  transition: 0.5s;
  padding: 10px;
  margin:30px 17px;
}
.mainimg img{
  margin-top: 30px;
  width: 100%;
}
picture{
  overflow:hidden ;
  margin-bottom: 50px
}
picture img{
  width: 70%;
  object-fit:contain;
  aspect-ratio: 5/5;
  margin:15px 30px;
}
.details{
  display: flex;
  margin-top: 30px;
}
.details samp{
  margin-left: auto;
}
#cardPara p{
  text-align: justify;
  height: 60px;
  overflow: hidden;
}
.button {
  font-size: 20px;
  margin-bottom: 10px;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*Card Css End*/


/*footer start*/
.footer1 {
  background-color:#ffd392;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;/*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
}
.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}
.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}
.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}
.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}
.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  position: relative;
    text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}
.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

.footer-bottom {
    background-color:var(--bg-color);
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
/*footer end*/


@media screen and (max-width: 1024px){

  #product{
  width:23%;/**/
  height: auto;/**/
  background:;
  transition: 0.5s;
  padding: 10px;
  margin:30px 8px;/**/
}
.mainimg img{
  margin-top: 22px;
  width: 100%;
}
picture{
  overflow:hidden ;
  margin-bottom: 50px;
  justify-content: center;
}
picture img{
  width: 80%;
  height: 190px;
}
.details{
  display: flex;
  margin-top: 20px;/**/
}
.details samp{
  margin-left: auto;
}
.button {
  font-size: 20px;
  margin-bottom: 10px;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
}

@media screen and (max-width: 480px){
#carousel{
  display: none;
}
#desktopView{
  display: none;
}
#mobileView{
  display: block;
}
  #product{
  width:65%;/**/
  height: auto;/**/
  background: white;
  transition: 0.5s;
  padding: 10px;
  margin:30px auto;/**/
}
.mainimg img{
  margin-top: 50px;
  width: 100%;
}
picture{
  overflow:hidden;
  margin-bottom: 50px;
  justify-content: center;

}
picture img{
  width: 70%;
  object-fit:contain;
  aspect-ratio: 5/5;
  margin:15px 40px;
}
.details{
  display: flex;
  margin-top: 20px;/**/
}
.details samp{
  margin-left: auto;
}
.button {
  font-size: 20px;
  margin-bottom: 10px;
}
.button a{
  color: white;
}
.button a:hover{
  text-decoration: none;
  color: white;
}
#product:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

}